a {
  color: white;
  text-decoration: none;
  margin: 0 10px 0 10px;
  position: relative;

  transform-origin: left;
  transition: 0.3s ease-in-out;
}

.animated-text:hover {
  color: rgb(0, 255, 255);
  transition: 0.3s ease-in-out;
  width: 100%;
}
a:hover {
  color: #00ffff;
  transition: 0.5s ease-in-out;
}
.links-container a ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 255, 255);
  transform-origin: bottom left;
  transition: 0.3s ease-in-out;
}

a :hover:after {
  width: 100%;
  transition: 0.3s ease-in-out;
}
